{% extends "base_account.html" %}
{% load static %}
{% block style %}
<style>

</style>
{% endblock style %}
{% block content %}
<div class="container-fluid mt-4">
    <h1>Welcome {{session.userinfo.name}}!</h1>

    <div class="card purple">
        <div class="card-header"><h5>Daily Intake</h5>
        </div>
        <div class="container my-4">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="row">
                        <!-- Protein Card -->
                        <div class="col-4 d-flex align-items-stretch">
                            <div class="card text-white bg-success-gradient">
                                <div class="card-body mini">
                                    <h5 class="card-title">Protein</h5>
                                    <p class="card-text"><span class="h4">{{ today_intake.protein|floatformat:"-1"|default_if_none:"0" }}</span><small> g</small></p>
                                </div>
                            </div>
                        </div>
                        <!-- Carbohydrates Card -->
                        <div class="col-4 d-flex align-items-stretch">
                            <div class="card text-white bg-warning-gradient">
                                <div class="card-body mini">
                                    <h5 class="card-title">Carbohydrates</h5>
                                    <p class="card-text"><span class="h4">{{ today_intake.carbohydrates|floatformat:"-1"|default_if_none:"0" }}</span><small> g</small></p>
                                </div>
                            </div>
                        </div>
                        <!-- Fats Card -->
                        <div class="col-4 d-flex align-items-stretch">
                            <div class="card text-white bg-danger-gradient">
                                <div class="card-body mini">
                                    <h5 class="card-title">Fats</h5>
                                    <p class="card-text"><span class="h4">{{ today_intake.fats|floatformat:"-1"|default_if_none:"0" }}</span><small> g</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Calories Card (Larger) -->
                <div class="col-12 col-md-4 d-flex align-items-stretch">
                    <div class="card text-white bg-light-gradient">
                        <div class="card-body mini">
                            <h5 class="card-title">Calories</h5>
                            <p class="card-text" style="font-size: 2.5rem; margin-top: -15px"><span class="display-4">{{ today_intake.calories|floatformat:"-1"|default_if_none:"0" }}</span><small class="h6"> Cal</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#dailyIntakeBreakdown" aria-expanded="false" aria-controls="dailyIntakeBreakdown">
            See Breakdown <i class="fa-solid fa-caret-down"></i>
        </button>
        <!-- Collapsible Table for Daily Intake Meals -->
        <div class="collapse" id="dailyIntakeBreakdown">
            <div class="table-responsive bg-transparent">
                <table class="table table-content bg-transparent">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" data-sort="name" class="sort">Name <i class="fa-solid fa-sort"></i></th>
                            <th scope="col">Ingredients</th>
                            <th scope="col" data-sort="pro" class="sort">Protein (g) <i class="fa-solid fa-sort"></i></th>
                            <th scope="col" data-sort="car" class="sort">Carbs (g) <i class="fa-solid fa-sort"></i></th>
                            <th scope="col" data-sort="fat" class="sort">Fats (g) <i class="fa-solid fa-sort"></i></th>
                            <th scope="col" data-sort="kcal" class="col_sticky">Calories (kcal) <i class="fa-solid fa-sort"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for meal in intake_meals %}
                        <tr>
                            <th scope="row" class="remove" data-item-id="{{ meal.id }}" data-item-name="{{ meal.name }}" data-form-action="{% url 'remove_daily_intake' %}">
                                    <i class="fa-regular fa-trash-can"></i>
                            </th>
                            <td class="col_hl l_align">
                                {{ meal.name }}
                                <span style="color: gray; margin-left: 5px">
                                    {% if meal.quantity > 1 %} (x{{ meal.quantity }}){% endif %}
                                </span>
                            </td>
                            <td>
                                <div style="text-align: left;">
                                    {% for ingredient in meal.ingredients_list %}
                                        <span style="display: inline-block; text-align: center; margin-right: 10px;">
                                            <div>{{ ingredient.name }}</div>
                                            <div><p class="text-secondary">({{ ingredient.quantity|floatformat:"-1" }}g)</p></div>
                                        </span>
                                    {% empty %}
                                        No ingredients found.
                                    {% endfor %}
                                </div>
                            </td>
                            <td>{{ meal.protein|floatformat:"-1" }}</td>
                            <td>{{ meal.carbohydrates|floatformat:"-1" }}</td>
                            <td>{{ meal.fats|floatformat:"-1" }}</td>
                            <td class="col_sticky">{{ meal.calories|floatformat:"-1" }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="10">No custom meals found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p class="px-3 text-info"><small>* Nutrtitional values shown for single meal.</small></p>
            </div>
        </div>
    </div>
    
    <!-- Displaying Recommedation -->
    {% if recommended_calories %}
    <div class="card green">
        <div class="card-header">
            <h5>Recommendation</h5>
        </div>
        <div class="card-body">
            <p style="text-align: center; font-size: 2rem">{{ recommended_calories }} <small>kcal</small></p>
        </div>
    </div>
    {% endif %}

    <!-- Custom foods card -->
    <div class="card blue">
        <div class="card-header"><h5>Custom Foods</h5></div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-content">
                    <thead>
                        <tr>
                            <th scope="col">-</th>
                            <th scope="col" data-sort="name" class="sort">Name <i class="fa-solid fa-sort"></i></th>
                            <th scope="col" data-sort="cat" class="sort">Cat <i class="fa-solid fa-sort"></i></th>
                            <th scope="col" data-sort="pro" class="sort">Protein (g) <i class="fa-solid fa-sort"></i></th>
                            <th scope="col" data-sort="car" class="sort">Carbs (g) <i class="fa-solid fa-sort"></i></th>
                            <th scope="col" data-sort="sug" class="sort">Sugar (g) <i class="fa-solid fa-sort"></i></th>
                            <th scope="col" data-sort="fat" class="sort">Fats (g) <i class="fa-solid fa-sort"></i></th>
                            <th scope="col" data-sort="fib" class="sort">Fiber (g) <i class="fa-solid fa-sort"></i></th>
                            <th scope="col" data-sort="sod" class="sort">Sodium (mg) <i class="fa-solid fa-sort"></i></th>
                            <th scope="col" data-sort="kcal" class="col_sticky">Calories (kcal) <i class="fa-solid fa-sort"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for food in custom_foods %}
                        <tr>
                            <th scope="row" class="remove" data-item-id="{{ food.id }}" data-item-name="{{ food.name }}" data-form-action="{% url 'remove_custom_food' %}">
                                    <i class="fa-regular fa-trash-can"></i>
                            </th>
                            <td class="col_hl l_align">{{ food.name }}</td>
                            <td class="l_align">{{ food.get_category_display }}</td>
                            <td>{{ food.protein|floatformat:"-1" }}</td>
                            <td>{{ food.carbohydrates|floatformat:"-1" }}</td>
                            <td>{{ food.sugar|floatformat:"-1" }}</td>
                            <td>{{ food.fats|floatformat:"-1" }}</td>
                            <td>{{ food.fiber|floatformat:"-1" }}</td>
                            <td>{{ food.sodium|floatformat:"-1" }}</td>
                            <td class="col_sticky">{{ food.calories|floatformat:"-1" }}</td>
                            <td style="position: absolute; visibility: hidden">{{food}}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="10">No custom foods found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p class="px-3 text-info"><small>* Nutrtitional data shown for 100g or equivalent.</small></p>
            </div>
            </div>
        </div>
    </div>

    <!-- User Profile card -->
    {% if user_profile %}
    <div class="card purple">
        <div class="card-header"><h5>Profile</h5></div>
        <div class="card-body">
            <!-- Display existing User Profile details -->
            <table class="form-table">
                <tr>
                    <th>Age:</th>
                    <td>{{ user_profile.age|floatformat:"-1"  }}</td>
                </tr>
                <tr>
                    <th>Gender:</th>
                    <td>{{ user_profile.gender }}</td>
                </tr>
                <tr>
                    <th>Height:</th>
                    <td>{{ user_profile.height|floatformat:"-1"  }} cm</td>
                </tr>
                <tr>
                    <th>Weight:</th>
                    <td>{{ user_profile.weight|floatformat:"-1"  }} kg</td>
                </tr>
                <tr>
                    <th>Activity Level:</th>
                    <td>{{ user_profile.activity_level }}</td>
                </tr>
                <!-- Additional Calculations -->
                <tr class="hl">
                    <th>BMR*:</th>
                    <td>{{ bmr|floatformat:"-1"  }}</td>
                </tr>
                <tr class="hl">
                    <th>Maintenance Calories:</th>
                    <td>{{ maintenance_calories|floatformat:"-1"  }}</td>
                </tr>
            </table>
            <p class="px-3 text-info"><small>* Basal Metabolic Rate using Harris-Benedict formula.</small></p>
        </div>
    </div>
    {% endif %}
        
    <!-- Body Goals card -->
    {% if body_goal %}
    <div class="card blue">
        <div class="card-header"><h5>Body Goals</h5></div>
        <div class="card-body">
           <table class="form-table">
               <tr>
                   <th>Category:</th>
                   <td>{{ body_goal.get_category_display }}</td>
               </tr>
               <!-- Only show relevant properties -->
               {% if body_goal.level %}
               <tr>
                   <th>Level:</th>
                   <td>{{ body_goal.level }}</td>
               </tr>
               {% endif %}
               {% if body_goal.target_weight %}
               <tr>
                   <th>Target Weight:</th>
                   <td>{{ body_goal.target_weight|floatformat:"-1" }}</td>
               </tr>
               {% endif %}
               {% if body_goal.goal_date %}
               <tr>
                   <th>Goal Date:</th>
                   <td>{{ body_goal.goal_date }}</td>
               </tr>
               {% endif %}
           </table>
        </div>
    </div>
    {% endif %}

    <!-- Custom meals card -->
    <div class="card green">
        <div class="card-header"><h5>Custom Meals</h5></div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-content">
                    <thead>
                        <tr>
                            <th scope="col">-</th>
                            <th scope="col" data-sort="name" class="sort">Name <i class="fa-solid fa-sort"></i></th>
                            <th scope="col">Ingredients</th>
                            <th scope="col" data-sort="pro" class="sort">Protein (g) <i class="fa-solid fa-sort"></i></th>
                            <th scope="col" data-sort="car" class="sort">Carbs (g) <i class="fa-solid fa-sort"></i></th>
                            <th scope="col" data-sort="fat" class="sort">Fats (g) <i class="fa-solid fa-sort"></i></th>
                            <th scope="col" data-sort="kcal" class="col_sticky">Calories (kcal) <i class="fa-solid fa-sort"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for meal in custom_meals %}
                        <tr>
                            <th scope="row" class="remove" data-item-id="{{ meal.id }}" data-item-name="{{ meal.name }}" data-form-action="{% url 'remove_custom_meal' %}">
                                    <i class="fa-regular fa-trash-can"></i>
                            </th>
                            <td class="col_hl l_align">{{ meal.name }}</td>
                            <td>
                                <div style="text-align: left;">
                                    {% for ingredient in meal.ingredients_list %}
                                        <span style="display: inline-block; text-align: center; margin-right: 10px;">
                                            <div>{{ ingredient.name }}</div>
                                            <div><p class="text-secondary">({{ ingredient.quantity|floatformat:"-1" }}g)</p></div>
                                        </span>
                                    {% empty %}
                                        No ingredients found.
                                    {% endfor %}
                                </div>
                            </td>
                            <td>{{ meal.protein|floatformat:"-1" }}</td>
                            <td>{{ meal.carbohydrates|floatformat:"-1" }}</td>
                            <td>{{ meal.fats|floatformat:"-1" }}</td>
                            <td class="col_sticky">{{ meal.calories|floatformat:"-1" }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="10">No custom meals found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
{% endblock content %}